.card{
    margin-top: 10%;
    margin:40px;
    padding: 10px;
    padding-top: 60px;
    width: 15rem;
    background-color: #fbfbfb;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* .card:hover{
    transform: scale(1.1);
} */

.card-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.card-title{
    font-size: large;
    margin:5px 0;
    color: #19CFFC;
}

.card-pricing{
    font-size:x-large;
    color: #FF475A;
}

.card-desc{
margin: 10%;
font-size:small;
color: #BBBBBB
}

.card-btn{
    color: white;
    text-align: center;
    width: 70%;
    height: 35px;
    background-color: #BBBBBB;
    border-radius: 4px;
    border: none;
}

.card-btn:hover {
    background-color: #0056b3;
  }












